@import "@/styles/mixins.scss";

$bar-height: 35 + 2;

.constrains {
  position: fixed;
  user-select: none;
  pointer-events: none;
  top: 7px;
  left: 2px;
  height: calc(100% - #{$bar-height * 2}px);
  width: calc(100% - 4px);
}
.panel {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  background-color: color(secondary, base);
  width: 240px;
  height: 500px;
  border: 1px solid color(primary, base);
  border-radius: 0 4px 4px 4px;
  .nameTag,
  .closeButton {
    position: absolute;
    user-select: none;
    font-size: 0.8rem;
    display: grid;
    place-items: center;
  }
  .nameTag {
    left: -1px;
    padding: 0 4px;
    color: color(secondary, base);
    background-color: color(primary, base);
    top: -1.2rem;
    height: 1.2rem;
    border-radius: 4px 4px 0 0;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
  .closeButton {
    height: 1.5rem;
    top: -1.5rem;
    right: 0;
    width: 1.5rem;
    opacity: 0;
  }
  &:hover {
    .closeButton {
      opacity: 1;
    }
  }
  .handler {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.3rem;
    gap: 0.2rem;
    background-color: color(primary, base);
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
    span {
      position: relative;
      margin-top: -6px;
      height: 3px;
      width: 3px;
      background-color: color(secondary, base);

      &::after {
        content: "";
        background-color: color(secondary, base);
        position: absolute;
        top: 6px;
        left: 0;
        height: 3px;
        width: 3px;
      }
    }
  }
}
